body {
    
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #174A5B;
}

#main-container{
    
  display: grid;
}

#report-box {
    
    background-color: #FFFFFF;
    width: 500px;
    height: 620px;
    position: relative;
    left: 420px;
    top: 120px;
    border: 5px solid #C3DC93;
}

#report-box h1 {
    
    text-align: center;
    color: #C3DC93;
    font-size: 42px;
}

