
#products-view{
position: relative;
color: #9FD18B;
}


input{
    border: 2px solid #9FD18B;
    background-color: #405C6A;
    color: #ffff;
    box-sizing: border-box;
    height: 35px;
}

#button{
    background-color: #9FD18B; 
      border: none;
      color: white;
      padding: 15px 32px;
      position: relative;
      left: 90px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    border-radius: 10%;
    }
    
    #button:hover{
        background-color: #405C6A;
        color:  #9FD18B;
        
        
    }

    #userIcon{
        color: #ffff;
        font-size: 30px;
       position: relative;
        top: -50px;
        left: 90%;
    }