body {
    margin: 0;
}

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#page-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#405C6A;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#logo {
    width: 150px;
    padding: 10px;
}


#top-bar-container {
    position: relative;
    grid-column: 1 / end;
    grid-row: 1;
    background-color: #174A5B;
    border-bottom: solid 2px #9FD18B;
    
}

#left-bar-container {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 2 / end;
    background-color:  #1e5061;
    border-right: solid 2px #9FD18B;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

#nav-users-p{
    color: orangered;
}

#camp-title {
    padding: 10px;
    font-weight: 500;
    font-size: 25px;
}

.nav-link {
    padding: 15px;
    font-size: 20px;
}

#main-content-container{
    color: #9FD18B;
    position: relative;
    left: 300px;
    top: 200px;
}

input{
    border: 2px solid #9FD18B;
    background-color: #405C6A;
    color: #ffff;
    box-sizing: border-box;
    height: 35px;
}

#button{
    background-color: #9FD18B; 
      border: none;
      color: white;
      padding: 15px 32px;
      position: absolute;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    border-radius: 10%;
    }
    
    #button:hover{
        background-color: #405C6A;
        color:  #9FD18B;
    }

    #userIcon{
        color: #ffff;
        font-size: 30px;
       position: relative;
        top: -50px;
        left: 90%;
    }