body {
    
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #174A5B;
}

#main-container{
    
    margin: 0;
    margin: auto;
    position: relative;
    width: 100vw;
    height: 100vh;}


#bright-img-logo{
    
    position: absolute;
    width: 200px;
    
}

#logo-bright {
    
    position: absolute;
    width: 200px;
    left: 2%;
    top: 2%;
}


#report-box {
    
    background-color: #FFFFFF;
    width: 500px;
    height: 420px;
    position: relative;
    left: 420px;
    top: 120px;
    border: 5px solid #C3DC93;
}

#report-box h1 {
    
    text-align: center;
    color: #C3DC93;
    font-size: 42px;
}



details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid black;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style:circle;
}

details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

h4{
    font-size: 20px;
    position: relative;
    top: 63px;
    left: 620px;

}